*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 25.888px; }

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1024px; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  margin-top: 3.236rem;
  margin-bottom: 1.618rem; }

h1 {
  font-size: 67.77282px;
  font-size: 4.2358rem;
  line-height: 1.14595; }

h2 {
  font-size: 41.88678px;
  font-size: 2.61792rem;
  line-height: 1.23609; }

h3 {
  font-size: 25.888px;
  font-size: 1.618rem;
  line-height: 1; }

h4 {
  font-size: 9.88875px;
  font-size: 0.61805rem;
  line-height: 2.61792; }

h5 {
  font-size: 6.11171px;
  font-size: 0.38198rem;
  line-height: 4.2358; }

h6 {
  font-size: 3.77733px;
  font-size: 0.23608rem;
  line-height: 6.85353; }

.vertical-rythm-grid {
  background-image: -webkit-repeating-linear-gradient(#fff, #fff calc((1rem * 1.618) - 1px), #f85408 calc(1rem * 1.618), #f85408 calc(1rem * 1.618));
  background-image: -o-repeating-linear-gradient(#fff, #fff calc((1rem * 1.618) - 1px), #f85408 calc(1rem * 1.618), #f85408 calc(1rem * 1.618));
  background-image: repeating-linear-gradient(#fff, #fff calc((1rem * 1.618) - 1px), #f85408 calc(1rem * 1.618), #f85408 calc(1rem * 1.618)); }

.test {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.618; }

.lorem {
  margin-bottom: 1.618rem; }
  .lorem:last-child {
    margin-bottom: 3.236rem; }
